<div class="card bg-light text-black container pb-2 pt-2"
<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:'col-sm-3' %>
    <%= form.text_field :name, class:'col-sm-7' %>
  </div>

  <div class="field">
    <%= form.label :age, class:'col-sm-3' %>
    <%= form.number_field :age, class:'col-sm-7' %>
  </div>

  <div class="field">
    <%= form.label :email, class:'col-sm-3' %>
    <%= form.text_field :email, class:'col-sm-7' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Submit', class:'btn btn-primary container' %>
  </div>
<% end %>
</div>